<a href="https://colab.research.google.com/github/falakj07/Exp2/blob/main/study_of_sets_and%20dictionaries%20in%20python%20_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Experiment No. 5
# Title -  To learn Sets and Dictonaries in python
Falak Jain
25070123047

In [42]:
## Creation of a set
helloset = {"car", " van ", "auto"}
helloset

{' van ', 'auto', 'car'}

In [ ]:
# Duplictaes not allowed
myset = {"car","van","bus","car"}
print(myset)

{'van', 'bus', 'car'}

In [ ]:
# A set with strings , integers and boolean values
set1 = {"abc",34,True,40,"male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [ ]:
# To check membership
myset = {"car","van","bus","auto"}
print("bus" in myset)

True

In [ ]:
# Once a set is created , you cannot replace its items
# but you can add new items
myset = {"car", "bus","van"}
myset.add("auto")
myset

{'auto', 'bus', 'car', 'van'}

In [ ]:
# Remove item
myset = {"car","van","bus","auto"}
myset.remove("auto")
myset

{'bus', 'car', 'van'}

In [ ]:
# Set operations
A = { 20, 30 ,40 ,50}
B = {40, 50, 60,70 }
print("Union:",A|B )
print("Intersection :",A & B )
print("Difference: ",A - B )
print("Symmetric Difference:", A^B)

Union: {70, 40, 50, 20, 60, 30}
Intersection : {40, 50}
Difference:  {20, 30}
Symmetric Difference: {20, 70, 60, 30}

In [ ]:
y = frozenset({"car", "van","auto"})
print(y)
print(type(y))

frozenset({'van', 'auto', 'car'})
<class 'frozenset'>

In [9]:
# Adding or Removal of elements are not allowed in Frozenset
y = frozenset({"car", "van","auto"})
y.add("bus")

AttributeError: 'frozenset' object has no attribute 'add'

In [25]:
## Problem statement 1
participants  = {"riya ","hemant","riya","manan","hemant","shruti","monica","rachel","manan"}
newset=set(participants)
print("Unique Participants:",newset)

Unique Participants: {'manan', 'shruti', 'monica', 'hemant', 'rachel', 'riya ', 'riya'}

In [27]:
## Problem statement 2
name = {"HEMANT","BHUVAN","AROHI"}
sub1 = {"physics", "chemistry","maths"}
sub2 = {"maths","chemistry", "hindi"}
print("Common subjects : " , sub1 & sub2 )

Common subjects :  {'maths', 'chemistry'}

In [37]:
##  Problem Statement 3
club1 = {"naman","gitika", "bhoomi","shruti"}
club2 = {"gitika" , "bhoomi","aayush","vraj"}
print("Students who are in both clubs : " ,club1 & club2)
print("Students who are in only in one club : ",club1^club2)

Students who are in both clubs :  {'bhoomi', 'gitika'}
Students who are in only in one club :  {'shruti', 'aayush', 'vraj', 'naman'}

In [38]:
## Problem Statement 4
allstudents = {"riya", "hemant", "manan","gitika", "rachel","monica"}

presentstudents = {"hemant","rachel","manan"}
absentstudents = allstudents - presentstudents
print("Absent Students :", absentstudents)

Absent Students : {'monica', 'riya', 'gitika'}

In [39]:
## Problem Statement 5
course = {"python","java","C++","C","physics"}
course.remove("physics")
course

{'C', 'C++', 'java', 'python'}

## Python Dictionaries
Dictionaries are used to store data values in key:value pairs.
 Its a collection of ordered , changeble and do not allow duplicates .

In [48]:
mydict = {
    "career" : "developer",
    "language" : "python ",
    "year" : "2026"}
mydict

{'career': 'developer', 'language': 'python ', 'year': '2026'}

In [50]:
## Dictionary takes latest value given for key. It will not allow duplicates
mydict = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : "1964 }
    mydict

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-1696998916.py, line 5)

In [53]:
## Changing/Adding  values in dictionaries
car  = {
    "brand" : "hyundai",
    "model" : "i20",
    "year" : "1964"}


car["color"] = "white"
car

{'brand': 'hyundai', 'model': 'i20', 'year': '1964', 'color': 'white'}

In [54]:
student = {
    "prn": "25070123047",
    "name" : "falak jain",
    "branch":"E&TC",
}
print("Name:",student["name"])

Name: falak jain

In [56]:
## Adding and Updating Elements
student["year"] = "first"
student["name"] = "Gitika"
print(student)

{'prn': '25070123047', 'name': 'Gitika', 'branch': 'E&TC', 'year': 'first'}

In [57]:
# Removing Elements
student.pop("branch")
print("After removal:",student)

After removal: {'prn': '25070123047', 'name': 'Gitika', 'year': 'first'}